$dropdown-bg-color: #fff;
$dropdown-border: 1px solid #ccc;

.dropdown {
  &__container {
    position: relative;
    display: inline-block;
  }
}

.selected {
  &__option {
    padding: 10px;
    border: $dropdown-border;
    cursor: pointer;
  }
}

.options {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: $dropdown-border;
    border-top: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $dropdown-bg-color;
    display: none;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
