.add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #3066be;
  opacity: 0.5;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all .2s;

  &:hover {
    opacity: 1;
  }

  &__icon {
    font-size: 32px;
    color: #3066be;
  }
}
