.constructor-face {
  &__container {
    position: relative;
    padding-bottom:50px;
  }
  &__wrapper {
    position: relative;
  }
  &__image {
    width: 815px;
    height: 100%;
  }
  &__img {
    padding-left:150px;
    //width: 50%;
    height: 600px;
  }

  &__lines {
    // visibility:hidden;
  }

  &__line {
    position: absolute;
    &.active {
      .svg-line-path {
        fill: rgba(217, 217, 217, 0.4);
      }
    }
    &.woman-european {
      &.forehead {
        top: 280px;
        left: 370px;
      }
      &.nose {
        top: 385px;
        left: 435px;
      }
      &.lips {
        top: 480px;
        left: 423px;
      }
      &.ears {
        top: 365px;
        left: 215px;
      }
      &.chin {
        top: 525px;
        left: 430px;
      }
    }
    &.man-european {
      &.forehead {
        top: 240px;
        left: 350px;
      }
      &.nose {
        top: 340px;
        left: 430px;
      }
      &.lips {
        top: 440px;
        left: 420px;
      }
      &.ears {
        top: 340px;
        left: 255px;
      }
      &.chin {
        top: 495px;
        left: 420px;
      }
    }
    &.woman-asian {
      &.forehead {
        top: 285px;
        left: 320px;
      }
      &.nose {
        top: 400px;
        left: 373px;
      }
      &.lips {
        top: 495px;
        left: 355px;
      }
      &.ears {
        top: 360px;
        left: 170px;
      }
      &.chin {
        top: 555px;
        left: 360px;
      }
    }

    .svg-line {
    }
    .svg-line-path {
      cursor: pointer;
      fill: transparent;
      transition: fill 0.2s ease-out;
      &:hover {
        fill: rgba(217, 217, 217, 0.4);
      }
      &.actice {
        fill: rgba(217, 217, 217, 0.4);
      }
    }
  }
  &__group:hover {
    .svg-line-path {
      fill: rgba(217, 217, 217, 0.4);
    }
  }
}

.constructor-face__group {
  &.active {
    .svg-line-path {
      fill: rgba(217, 217, 217, 0.4);
    }
  }
  &.woman-european {
    &.cheekbones {
      .leftCheekbone {
        top: 380px;
        left: 275px;
      }
      // .rightCheekbone {
      //   transform: scale(-1, 1);
      //   top: 225px;
      //   left: 240px;
      // }
    }
    &.eyes {
      .leftEye {
        z-index: 1;
        top: 375px;
        left: 375px;
      }
      .rightEye {
        z-index: 1;
        //transform: scale(-1, 1);
        top: 365px;
        left: 470px;
      }
    }
  }
  &.woman-asian {
    &.cheekbones {
      .leftCheekbone {
        top: 415px;
        left: 265px;
      }
      // .rightCheekbone {
      //   transform: scale(-1, 1);
      //   top: 225px;
      //   left: 240px;
      // }
    }
    &.eyes {
      .leftEye {
        z-index: 1;
        top: 380px;
        left: 300px;
      }
      .rightEye {
        z-index: 1;
        //transform: scale(-1, 1);
        top: 385px;
        left: 420px;
      }
    }
  }
  &.man-european {
    &.cheekbones {
      .leftCheekbone {
        top: 350px;
        left: 320px;
      }
      // .rightCheekbone {
      //   transform: scale(-1, 1);
      //   top: 225px;
      //   left: 240px;
      // }
    }
    &.eyes {
      .leftEye {
        z-index: 1;
        top: 330px;
        left: 365px;
      }
      .rightEye {
        z-index: 1;
        //transform: scale(-1, 1);
        top: 335px;
        left: 470px;
      }
    }
  }
}
