.header-mobile {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__hamburger {
		span {
			display: block;
			width: 30px;
			height: 3px;
			margin: 3px 0;
			background-color: #3066BE;
		}
	}

	&__nav {
		background: white;
		width: 70%;
		min-height:100vh;
		height: auto;
		position: absolute;
		z-index: 2;
		border-left: 0;
	}

	&__list {
		padding-left: 0;
		margin: 0 20px 0 20px;
		display: flex;
		flex-direction: column;
		align-items: right;
	}

	&__link {
		list-style-type: none;
		margin: 10px;
		img{
			margin-right: 10px;
		}
		&:first-child{
		&::after{
			content: "";
			display: block;
			width: 90%;
			height: 1px;
			background: #5985CB;
			opacity: 0.25;
		}
	}
	}

	&__a {
		text-decoration: none;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		display: flex;
		align-items: center;
		color: #3066BE;
	}
	span{
		cursor:pointer;
		text-decoration: none;
		color: #3066BE;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
	}

	&__services-menu{
		text-decoration: none;
		color: #3066BE;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		ul{
			cursor:default;
			margin-top: 20px;
			text-decoration: none;
			list-style-type: none;
			padding: 0;
		}
	}
	&__services-list{
		&__li{
			margin: 10px 0 10px 0 ;
			a{
			text-decoration: none;
			list-style-type: none;
			padding: 0;
			color: #3066BE;
			font-family: 'Raleway';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			}
		}
	}
	&__sub-menu{
		li{
			margin-top: 5px;
		}
	}
	
	&__button-item{
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #3066BE;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
	}
}