.profile {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 430px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__user {
    display: flex;
    gap: 16px;

    @media (max-width: 430px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }

    &-label {
      display: flex;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__user-name {
    margin: 0;
  }

  &__user-phone {
    font-weight: 400;
    margin: 0;
  }

  &__darkened {
    opacity: 0.5;
  }

  &__identification {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;

    .iden {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      @media (max-width: 430px) {
        flex-direction: row;
      }

      &__id {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        width: 100%;
        height: 50px;
        padding: 8px;

        @media (max-width: 430px) {
          min-width: 0;
        }

        span {
          font-weight: 700;
          margin-right: 4px;
        }
      }

      &__code {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background: #f2f2f2;
        border-radius: 8px;
        min-width: 150px;
        width: 100%;
        padding: 8px;

        @media (max-width: 430px) {
          min-width: 0;
        }
      }
    }

    &__qr-img {
      width: 150px;
      height: 150px;
    }

    @media (max-width: 768px) {
      .identification__qr-img {
        display: none;
      }
    }
  }

  // &__main {
  // }

  // &__footer {
  // }

  &__description {
    margin-right: 32px;
    margin-bottom: 16px;
    display: flex;
    gap: 16px;

    .img {
      border-radius: 8px;
    }

    @media (max-width: 430px) {
      flex-direction: column;
      margin: 0;

      .img {
        display: none;
      }
    }
  }

  &__description-text {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;

    .text {
      background: #d7e7ff;
      padding: 16px;
      border-radius: 8px;
      max-width: 400px;
    }
    .text:nth-child(2) {
      background: none;
    }

    @media (max-width: 430px) {
      flex-direction: column;
    }
  }

  &__discount {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: #f3f8fe;
    border-radius: 8px;
    border: 1px solid #3066be;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;

    .save {
      background: none;
      border: none;
      cursor: pointer;
      color: #3066be;
    }

    .cancel {
      background: none;
      border: none;
      color: black;
      opacity: 25%;
      cursor: pointer;
    }

    .edit {
      background: none;
      border: none;
      cursor: pointer;
      color: #3066be;
    }

    .delete {
      background: none;
      border: none;
      color: black;
      opacity: 25%;
      cursor: pointer;
    }
  }

  &__additionally {
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__licenses,
  &__education,
  &__qualification,
  &__experience {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .add {
      display: flex;
      background: none;
      border: none;
      cursor: pointer;
      color: #3066be;
    }
  }

  .inDev {
    filter: blur(1px);
    background: #f2f2f2;
    opacity: 0.5;
    border-radius: 8px;
    padding: 8px;
    pointer-events: none;
  }
}
