.account {
  &__header {
    width: 100%;
    height: 76px;
    border-radius: 16px;
    background: white;

    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  &__logoAccount {
    &-burger {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
    }

    &-link {
      display: inline-flex;
      width: 100%;

      span {
        display: inline-flex;
        width: 100%;
        font-weight: 700;
      }
    }
  }

  &__burger-icon {
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media (max-width: 1440px) {
      display: block;
    }
  }
  &__account {
    display: flex;
    gap: 32px;
  }

  &__notification {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 2px solid #87cdd1;
  }

  &__user {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    border: 2px solid #87cdd1;

    img {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: 2px solid #87cdd1;
    }
    span {
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
