.settings {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    font-weight: 700;
  }

  &__password {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
