.support {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__title {
    font-size: 16px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__input {
    flex: 0 1 100%;
  }

  &__ticket {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    gap: 16px;
    padding: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .ticket {
    &__header {
      display: flex;
      gap: 8px;
      justify-content: space-between;
    }
    &__dates {
      display: flex;
      gap: 8px;
    }
    &__title {
      font-weight: bold;
    }
    &__text {
    }
  }
}

@media (max-width: 720px) {
  .support {
    &__button {
      width: 100%;
    }
    .ticket {
      &__header {
        flex-direction: column-reverse;
      }
    }
  }
}
