.about-operation {

    &__parents {
        position: absolute;
        left: 850px;
        top: 100px;
        padding-left: 32px;
        border-left: 1px solid gray;
        font-family: Raleway;
        height: 487px;
    }
    
    
    &__header{
        padding-right: 32px;
        display: flex;
        gap: 20px;
    }

    &__head {
        color: #3066BE;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    

    &__text {
        width: 754px;
        height: 115px;
        flex-shrink: 0;
        color: #000;
        text-align: justify;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text2 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        opacity: 0.5;
    }

    &__parents-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__button{
        display: flex;
        min-height: 40px;
        width: 420px;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
        gap: 4px;
        border-radius: 8px;
        border: 2px solid #0041ab;
        cursor: pointer;
        background: none;
        transition: all 0.2s ease-in-out;

        /* Raleway 24px,regular (400) */
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__button:hover{
        background-color: #3066be20;
    }

    &__face {
        display: inline-flex;
        padding: var(--CornerRadius-r8, 8px);
        justify-content: center;
        align-items: center;
        gap: var(--CornerRadius-r8, 8px);
        border-radius: var(--CornerRadius-r16, 16px);
        background: rgba(190, 48, 48, 0.20);
        color: #BE3030;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    // &__hint{
    //     display: none;
    // }
    // &__button:hover &__hint{
    //     display:inline-block;
    // &__hint#__first{
    //     top:10px;
    // }
    // &__hint#__second{
    //     top:25px;
    // }
    // &__hint#__third{
    //     top:35px;
    // }
    
}

.plug{
    &__parents{
        position: absolute;
        left: 850px;
        top: 100px;
        color: #3066BE;
        font-size: 36px;
        font-family: Raleway;
        padding-left: 32px;
        border-left: 1px solid gray;
        height: 487px;
    }
    &__text{ 
        position: relative;
        left: 150px;
        width: 600px;
        text-align:end;
        color: #00AD9F;
        font-size: 20px;
        font-weight: 700px;
        font-weight: bold;
        padding: 25px;
    }
    &__button1{
        //position: absolute;
        border-radius: 15px;
        background: rgb(215, 231, 255);
        width: 453px;
        height: 85px;
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding-inline: 10px;
    }
    &__button2{
        //position: absolute;
        top: 150px;
        border-radius: 15px;
        background: rgb(215, 231, 255);
        width: 260px;
        height: 40px;
        color: rgb(0, 0, 0);
        font-family: Raleway;
        font-size: 16px;
        display: flex;
        align-items: center;
        padding-inline: 10px;
        margin-top: 10px;
        
    }

    &__head{
        color: #3066BE;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__image {
        position: relative;
        transform: scaleX(-1);
        height: 350px;
        left:270px;
        bottom: 100px;


    }
}