.table {
  outline: 1px solid rgba(48, 102, 190, 0.25);
  background: #fff;
  border-radius: 8px;
  width: 100%;
  display: table;
  overflow: hidden;
  border-collapse: collapse;
}

.tr {
  border-bottom: 1px solid rgba(48, 102, 190, 0.25);
}

.thead {
  width: 100%;
}
.tbody {
}

.trData {
  &:nth-child(odd) {
    background: rgba(48, 102, 190, 0.05);
  }
}

.th {
  text-align: left;
  // opacity: 0.5;
  font-weight: 400;
  padding: 16px;
}

.td {
  width: auto;
  padding: 16px;
  // &:last-child {
  //   width: 24px;
  // }
}
