.modalBackdrop {
  z-index: 1;
  position: absolute;
  top: 130px;
  right: 136px;
  width: 100px;
}

.modalContent {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #eaf0f8;
  background-color: #fff;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  &.open {
    animation: open 0.1s ease-out forwards;
  }

  &.close {
    animation: close 0.1s ease-out forwards;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 16px;
  &__delete,
  &__edit,
  &__save {
    cursor: pointer;
    // width: 24px;
    // height: 24px;
    // padding: 4px;
    border-radius: 4px;
    background: #eaf0f8;
    border: none;

    &:hover {
      outline: 2px solid rgba($color: #3066be, $alpha: 0.3);
    }
  }

  @keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes close {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
