@font-face {
	font-family: 'Raleway';
	src: local('Raleway'),
		url('../../assets/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
		url('../../assets/fonts/raleway/Raleway-Bold.woff') format('woff'),
		url('../../assets/fonts/raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway'),
		url('../../assets/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
		url('../../assets/fonts/raleway/Raleway-Regular.woff') format('woff'),
		url('../../assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'),
		url('../../assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
		url('../../assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
		url('../../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto'),
		url('../../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('../../assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

.section {
	padding: 60px 0;
}

.container {
	width: 1500px;
	margin: 0 auto;
}

.title-h2 {
	font-size: 2rem;
	font-weight: 700;
}

// .text-h2 {
// 	font-size: 1rem;
// }

.title-h3 {
	font-size: 1.3rem;
	font-weight: 700;
}

.text-h3 {
	font-size: 1rem;
}

.component-content-text {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;

	&_wrapper {
		margin: auto;
	}
}

.component-error-text {
	text-align: center;
	font-size: 1.5rem;
}

.component-button-text {
	margin: auto;
}

.form {
	&__span {
		margin-top: 4px;
		color: #BE3030;
		font-family: Raleway;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__input {
		min-width: 500px;
		min-height: max-content;
		padding: 16px;
		min-height: 64px;
		border-radius: var(--corner-radius-r-16, 16px);
		border: none;
		outline: 2px solid #87CDD1;
		background: var(--pallet-color-11005, #FFF);
		font-family: Raleway;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		transition: outline 0.3s ease-in-out;
	}

	&__input:not(:placeholder-shown) {
		outline: 2px solid #1758C2;
	}

	&__input:hover {
		outline: 2px solid #1758C2;
	}

	&__input:focus {
		outline: 2px solid #1758C2;
	}

	&__input:active {
		outline: 2px solid #1758C2;
	}

	&__input::placeholder {
		transition: opacity 0.3s ease-in-out;
	}

	&__input::placeholder {
		opacity: 0.5;
	}

	&__input:hover::placeholder {
		opacity: 1;
	}

	&__input:focus::placeholder {
		opacity: 1;
	}
}

.error {
	&__input {
		outline: 2px solid #BE3030;
		transition: outline 0.3s;
	}

	&__input:hover {
		outline: 2px solid #BE3030;
	}

	&__input:focus {
		outline: 2px solid #BE3030;
	}

	&__input:active {
		outline: 2px solid #BE3030;
	}

	&__input:not(:placeholder-shown) {
		outline: 2px solid #BE3030;
	}
}

// //* ПК
// @media (max-width: 1920px) {
// 	.container {
// 		width: 1500px;
// 	}
// }

//* ПК
@media (max-width: 1600px) {
	.container {
		width: 1400px;
	}
}

//* ПК
@media (max-width: 1440px) {
	.container {
		width: 1200px;
	}

	.section {
		padding: 30px 0;
	}
}

//* ПК
@media (max-width: 1280px) {
	.container {
		width: 900px;
	}
}

//* Планшет
@media (max-width: 1024px) {
	.container {
		width: 720px;
	}

	.section {
		padding: 10px 0;
	}
}

//* Планшет
@media (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
}

//* Телефон
@media (max-width: 360px) {
	.container {
		width: 100%;
	}
}

//* Телефон
@media (max-width: 320px) {
	.container {
		width: 100%;
	}
}