.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  &__body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 250px;
    gap: 8px;
    border-radius: 8px;
    // border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    background: #fff;
  }

  &__photo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    // border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font-size: 16px;
  }
  &__direction {
    font-size: 16px;
    opacity: 0.5;
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    &-delete {
      display: flex;
      width: 24px;
      height: 24px;
      padding: 2px;
      border: none;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: rgba(48, 102, 190, 0.1);
    }
  }
}
@media (max-width: 375px) {
  .card {
    align-items: center;
  }
}
