.help {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__subtitle {
    opacity: 0.5;
  }
  
  &__accordion {
    border: 1px solid rgba(89, 133, 203, 0.25);
    border-radius: 8px;
    padding: 16px;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    &.open {
      max-height: 500px;
      opacity: 1;
    }
  }
  
  &__question {
  }
  &__answer {
  }
}
