.head{
    text-align: center;
    font-family: Raleway;
    padding-top: 50px;
}

.constructor-face__image{
    display: flex;
}

@media only screen and (max-width: 1440px) {
    .constructor-face__image {
        flex-direction: column;
        align-items: center;
        border-left: none;

    }
}