.header {
	position: relative;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', 'sans-serif';
	height: 80px;
	background-color: rgba(0, 0, 0, 0);
	// padding: 0 7%;
	user-select: none;

	&__container {
		display: flex;
		// flex-direction: row;
	}



	&__logo {
		margin-right: 5%;
		float: left;
		width: auto;
		height: 100%;
		display: flex;
		align-items: center;
	}

	&__links {
		margin: 0;
		padding: 0;
		// height: 100%;
		width: 100%;
		display: flex;


		li {
			cursor: pointer;
			list-style: none;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			justify-content: space-around;

			&.active {
				.services {
					a {
						color: #fff;

						p {
							color: #000000;
						}
					}
				}
			}
		}

		a {
			text-decoration: none;
			color: black;
			font-family: 'Raleway';
			font-size: 26px;
			line-height: 30px;
			letter-spacing: 0em;
			font-weight: 400;
		}

		.services-menu {
			width: 90%;
			margin: auto 100px;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;
			background-color: #fff;
			box-shadow: 0px 0px 120px 0px rgba(0, 0, 0, 0.20);
			border-radius: 0% 0% 50px 50px;
			padding: 10px;
			display: flex;

			h2 {
				color: #000000;
				font-family: Raleway;
				font-size: 32px;
				font-weight: 700;
				line-height: 38px;
				letter-spacing: 0em;
				text-align: left;

			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}

			&__li {
				height: 5vh;
				width: 26vw;
				padding: 8px 15px;
				cursor: pointer;
				color: #000000;
				font-family: Raleway;
				font-size: 24px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;
				display: grid;
				grid-template-columns: 1fr auto;
				align-items: center;
				border-radius: 10px;

				&:hover {
					background-color: rgba(242, 241, 240, 1);
				}
			}

			.services-list {
				margin-left: 3%;

				&__ul {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
				}

				&__li {
					width: 400px;
					display: block;
					margin: 10px;
				}
			}
		}

		.sub-menu {
			&_li {
				display: block;
				color: aqua;
				margin: 10px 0px 0px 0px;

				a {
					font-size: 22px;
				}
			}
		}

		.active {
			width: 100%;
			height: 100%;
			top: 50%;
			background: rgba(48, 102, 190, 1);
			border-radius: 0px 0px 15px 15px;
			color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				font-size: 10px;
				font-family: Raleway;
				font-size: 24px;
				font-weight: 400;
				line-height: 28px;
				letter-spacing: 0em;
				text-align: left;
			}
		}
	}

	&__button-item {
		user-select: none;
		text-align: center;
		width: 148px;
		height: 50px;
		background: rgba(48, 102, 190, 1);
		color: rgba(255, 255, 255, 1);
		border-radius: 8px;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

		p {
			font-size: 20px;
			font-family: 'Raleway';
			margin: 9% 0;
			font-weight: 400;
		}
	}
}

//* ПК
@media (max-width: 1280px) {
	.header {
		&__logo {
			margin-right: 0;
		}
	}
}