.delete {
  &__title {
    font-weight: 700;
  }

  &__subtitle {
    opacity: 1;
  }

  &__popup {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 8px;
    z-index: 999;
  }

  &__button {
    display: flex;
    gap: 16px;
    justify-content: flex-end;

    .yes,
    .no {
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .yes {
      color: rgb(206, 44, 49);
      background-color: rgb(255, 219, 220);
    }
    // .no {}
  }
}
