.favourites {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__subtitle {
    opacity: 0.5;
  }

  &__result {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
