.outlineButton {
	display: flex;
	min-height: 32px;
	padding: 0px 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 8px;
	border: 1px solid #3066be;
	cursor: pointer;
	background: none;
	transition: all 0.2s ease-in-out;

	/* Raleway 24px,regular (400) */
	color: #3066be;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.outlineButton:hover {
	background-color: #3066be20;
}

.outlineButton:active {
	background-color: #3066be20;
}