/* Стили для карусели */
.slide {
	width: 100vw;
	height: 648px;
	background-size: cover;
	background-repeat: no-repeat;

	&__container {
		margin-top: 8%;
	}

	&__info {
		position: relative;
		top: 20%;
		// margin-left: 15%;
		width: calc(42% - 20px);
		height: 141px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20%;
			height: 4px;
			background-color: rgba(48, 102, 190, 1)
		}

		p {
			max-height: 130px;
			font-family: Raleway;
			line-height: 42px;
			letter-spacing: 0em;
			color: rgba(35, 86, 169, 1);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.AI-text {
	position: relative;
	top: 19%;
	// margin-left: 15%;
	width: calc(35% - 20px);
	// height: 60px;


	p {
		width: 100%;
		font-family: Roboto;
		font-size: 26px;
		font-weight: 400;
		line-height: 31px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(48, 98, 139, 1);
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.button-item {
	position: relative;
	top: 30%;
	// margin-left: 15%;
	min-width: auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	transition: .3s;
	display: inline-block; // Разместить кнопку в строчном блоке, чтобы подстраивалась под размер текста
	text-decoration: none;

	p {
		margin: 15px; // Подстраивайте отступы под ваши требования
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 1.3rem;
		color: #000000;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:hover {
		background: #c9c8c8;
	}
}