.footer {
	background: #F2F2F2;
	padding: 30px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__wrapper-left {
		width: 45%;
		display: flex;
		justify-content: space-between;
	}

	&__wrapper-right {
		width: 45%;
		display: flex;
		justify-content: space-between;
	}
}

.footer-item {
	&_logo {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__img {
		margin-bottom: 30px;
	}

	&__info {
		font-family: 'Raleway';
		font-size: 1rem;
		color: #333333;
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
	}

	&__text {
		font-family: 'Raleway';
		font-weight: 700;
	}

	&__title {
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 1.5rem;
	}

	&__link {
		list-style-type: none;
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	&__a {
		color: #000;
	}

	&__box {
		&_network {
			a {
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

//* ПК
@media (max-width: 1280px) {
	.footer {
		&__wrapper {
			flex-direction: column;
		}

		&__wrapper-left {
			width: 82%;
			margin-bottom: 20px;
		}

		&__wrapper-right {
			width: 100%;
		}
	}
}

//* Планшет
@media (max-width: 1024px) {
	.footer {
		&__wrapper-left {
			width: 77%;
		}
	}
}

//* Планшет
@media (max-width: 768px) {
	.footer {
		&__wrapper-left {
			flex-direction: column;
		}

		&__wrapper-right {
			flex-direction: column;
		}
	}
}