.TransitionButton {
	display: flex;
	align-items: center;

	&__img {
		width: 60px;
		height: 60px;
		border-radius: 50px;
		border: none;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(225deg, #3066BE -17%, #119DA4 89%);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
		position: absolute;

		&:hover {
			background: linear-gradient(225deg, #4c80d4 -17%, #27c2ca 89%);
		}
	}

	&__number {
		white-space: nowrap;
		padding: 15px 30px 15px 80px;
		border-radius: 25px;
		background: #AEECEF;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.50);
	}
}