.modalOverlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}
.modal {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: #fff;
  padding: 16px;
  //   border-radius: 16px;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 100%;

  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__buttons {
    width: 100%;
    .close {
      width: 100%;
      padding: 8px 16px;
      background: #3066be;
      border-radius: 8px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  &__checkbox {
    display: inline;
  }

  input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid black;
  }
  &.open {
    animation: open 0.5s ease-in-out;
  }

  &.close {
    animation: close 0.5s ease-in-out;
  }

  @keyframes open {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes close {
    from {
      transform: translateX(0%);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

$styles: center, left, right;

@each $style in $styles {
  .modalOverlay.#{$style} {
    justify-content: $style;
  }
  .modal.#{$style} {
    justify-content: $style;
    align-items: $style;
  }
}
