
.article-detailed-item {
    padding: 64px 110px 128px;

    &__link {
        color: #3066BE;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }

    &__up {
        display: flex;
        margin-bottom: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid #DADADA;
    }

    &__left {
        margin-right: 64px;
    }

    &__img {
        margin-left: -10px;
        margin-bottom: 32px;
        min-width: 500px;
        max-height: 375px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__date {
        margin: 0;
        color: #000;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.5;
    }

    &__clinic {
        margin: 0;
        color: #000;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.5;
    }

    &__title {
        margin: 0;
        margin-bottom: 47px;
        color: #000;
        font-family: Raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__descr {
        margin: 0;
        margin-bottom: 32px;
        color: #000;
        text-align: justify;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        opacity: 0.5;
    }

    &__text {
        max-width: 1136px;
        max-height: 279px;
        flex-shrink: 0;
        color: #000;
        text-align: justify;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__point {
        margin: 0;
    }

    &__point:first-child {
        margin-bottom: 24px;
    }

    &__item {
        margin: 0;
        margin-bottom: 24px;
        color: #000;
        text-align: justify;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__paragraph {
        margin: 0;
        color: #000;
        text-align: justify;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__paragraph:not(:last-child) {
        margin-bottom: 24px;
    }
}
