.search {
  display: flex;
  width: 250px;
  padding: 8px;
  align-items: center;

  border-radius: 8px;
  border: 2px solid #87cdd1;
}

[type="search"] {
    outline-offset: 0;
    
}

input::placeholder {
    color: #3066BE;
    opacity: 0.5;
}

input:focus::placeholder{
    color: #3066BE;
    opacity: 1;
}

