.spinner {
  border: 4px solid rgba(255, 255, 255, 0);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(0, 0, 0);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
