.employee {
  display: flex;
  gap: 16px;

  border: 1px solid rgba($color: #3066be, $alpha: .5);
  border-radius: 8px;
  padding: 16px;
  // cursor: grab;

  transition: border .2s;
  
  &:hover {
    border: 1px solid rgba($color: #3066be, $alpha: 1); // TODO: Сделать нормальный hover
  }

  &__avatar {
    width: 128px;
    min-width: 128px;
    height: 128px;
    min-height: 128px;
  }

  &__image {
    height: 100%;
    border-radius: 8px;
  }

  &__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__tags {
    display: flex; 
    flex-wrap: wrap;
    gap: 4px;
  }

}
