.articles {
	padding: 60px 0;

	&__title {
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 2.7rem;
		margin-bottom: 30px;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
	}

	&__button {
		font-family: 'Raleway';
		font-weight: 400;
		font-size: 1.5rem;
		border-radius: 20px;
		color: #3066BE;
		background: none;
		border: 3px solid #3066BE;
		cursor: pointer;
		padding: 18px 32px;
		display: block;
		margin: 0 auto;

		&:hover {
			background: #6D9DC5;
			color: #FFFFFF;
		}
	}
}