.ConstructorButton {
	display: flex;
	min-height: 32px;
	width: 158px;
	padding: 0px 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	border-radius: 16px;
	//border: 2px solid #3066be;
	border: 2px solid #3066BE;
	cursor: pointer;
	background: none;
	transition: all 0.2s ease-in-out;

	/* Raleway 24px,regular (400) */
	color: #3066BE;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.ConstructorButton:hover,
.ConstructorButton:active {
	background-color: rgba(23, 88, 194, 0.5);
	color: white;
}
