.edit {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__input,
  &__select {
    flex: 1 1 25%;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-p1,
    &-p2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    &-politicy {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid #3066be;
      background: #1758c2;
    }
    &-text {
      font-size: 16px;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    .save,
    .cancel {
      border: none;
    }
    .cancel {
      color: rgb(206, 44, 49);
      opacity: .5;
    }
  }

  &__error-message {
    font-size: 12px;
  }

  &__input,
  &__select {
    @media (max-width: 430px) {
      flex: 100%;
      width: 100%;
    }
  }
}
