.likeBtn {
	width: 60px;
	height: 60px;
	border: solid 2px black;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;

	&:hover {
		.likeBtn__img {
			filter: invert(43%) sepia(45%) saturate(4890%) hue-rotate(340deg) brightness(101%) contrast(100%);
		}
	}

	&__active {
		background: #F44336;
	}
}