.likeBtn {
	width: 60px;
	height: 60px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background: white;

	& {
		.likeBtn__img {
			width: 30px;
			height: 26px;
			fill: white;
			stroke: black;
			stroke-width: 2px;
		}
	}

	&:hover {
		.likeBtn__img {
			stroke: #F44336;
		}
	}

	&__active {
		.likeBtn__img {
			fill: #F44336;
			stroke: #F44336;
		}
	}

	&__active {
		&:hover {
			.likeBtn__img {
				stroke: black;
			}
		}
	}
}