.paginationPosts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__button {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		&_active {
			color: red;
			border: 1px solid red;
		}
	}
}