.enter {
    display: flex;

    &__content {
        display: flex;
        width: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--corner-radius-r-16, 16px);
    }

    &__title {
        margin: 0;
        color: #3066BE;
        text-align: center;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__button {
        display: flex;
        height: 64px;
        min-height: 64px;
        padding: 0px 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-radius: 16px;
        background: #3066BE;
        color: var(--pallet-color-11005, #FFF);
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    &__text {
        margin: 0;
        color: #3066BE;
        text-align: start;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.5;
    }

    &__link {
        margin-right: auto;
        color: #3066BE;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.5;
        text-decoration: none;
    }
}
.content {
}
