.input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #3066be;
}

.default {
  font-size: 14px;
  padding: 6px 12px;
}
.medium {
  font-size: 16px;
  padding: 8px 16px;
}
.large {
  font-size: 18px;
  padding: 8px 16px;
}
